# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.


Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
def calc_count(lst):
    count = 0
    for x in lst:
        count += 1
    return count

calc_count([1, 2, 3]) == len([1, 2, 3])

True

Create a function that returns the mean of a list of numbers

In [19]:
# Your code here:
def calc_mean(lst):
    lst_sum = 0
    for x in lst:
        lst_sum += x
    return lst_sum / calc_count(lst)

calc_mean([1, 2, 3]) == np.mean([1, 2, 3])

True

Create a function that returns the standard deviation of a list of numbers

In [21]:
# Your code here:
def calc_sd(lst):
    sum_sq_dev = 0
    for x in lst:
        sum_sq_dev += (x - calc_mean(lst)) ** 2
    return (sum_sq_dev / calc_count(lst)) ** 0.5

calc_sd([1, 2, 3]) == np.std([1, 2, 3])

True

Create a function that returns the count, mean and standard deviation of a given list in dataframe format.

In [22]:
# Your code here:
def stats_df(lst):
    df_dict = {'count': [calc_count(lst)],
               'mean': [calc_mean(lst)],
               'sd': [calc_sd(lst)]
              }
    return(pd.DataFrame(df_dict))

df = stats_df([1, 2, 3]).T
df.columns = ['lst']
df

            lst
count  3.000000
mean   2.000000
sd     0.816497

# Challenge 2 - String Cleaning
When working with textual data you will often have to clean it before being able to analyse it. Create a function that receives a string and returns that string in all lower case and without special characters.

In [6]:
# Your code here:
def clean_string(string):
    return ''.join([char.lower() for char in string if char.isalnum()])

string = "@IRONHACK 1234 \t%^$# São Paulo"
clean_string(string)

'ironhack1234sãopaulo'

# Challenge 2 -Bonus
Create a function that receives a string and returns the string in alphabetical order.

In [7]:
# Your code here:
def sort_string(string):
    return ''.join(sorted(string))

sort_string('ironhack is the best')

'   abceehhiiknorsstt'

# Challenge 3 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [8]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [9]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [10]:
# Your code here:
np.mean(iris)
# it computes the mean of each numerical column in the dataframe

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [11]:
# Your code here:
np.std(iris)
# it computes the standard deviation of each numerical column in the dataframe

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [12]:
# Your code here:
iris_numeric = iris.drop('iris_type', axis=1)
(iris_numeric * 0.393701).head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [13]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x * 0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [14]:
# Your code here:
iris_inch = iris_numeric.apply(cm_to_in, axis=0)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [15]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error

iris_constant = iris_numeric.apply(add_constant, axis=0)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [16]:
# Your code here:
iris_numeric.max(axis=1).head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [17]:
# Your code here:
total_length = iris_numeric[['sepal_length', 'petal_length']].sum(axis=1)
total_width = iris_numeric[['sepal_width', 'petal_width']].sum(axis=1)
iris_numeric['total_lentgh'], iris_numeric['total_width'] = total_length, total_width
iris_numeric.head()

,sepal_length,sepal_width,petal_length,petal_width,total_lentgh,total_width
0,5.1,3.5,1.4,0.2,6.5,3.7
1,4.9,3.0,1.4,0.2,6.3,3.2
2,4.7,3.2,1.3,0.2,6.0,3.4
3,4.6,3.1,1.5,0.2,6.1,3.3
4,5.0,3.6,1.4,0.2,6.4,3.8